#head {border-bottom:1px solid #ccc;margin-bottom:1em;}
#foot {border-top:1px solid #ccc;padding-top:1em;}
#head h1 {color:#ccc;}
#foot p, #foot a {color:#ccc;}
#foot a:hover {background-color:inherit;color:#000;text-decoration:underline;}
ul {list-style-type:none;margin-left:0;}
a {color:#090;}
a:visited {color:#00a;}
a:hover {background-color:#090;color:#fff;text-decoration:none;}
.box {background-color:#e5f9ec;}
