<Files .git>
  Order allow,deny
  Deny from all
</Files>

<Files .gitignore>
  Order allow,deny
  Deny from all
</Files>

<Files Capfile>
  Order allow,deny
  Deny from all
</Files>

<Files scotland*.html>
  AuthUserFile /home/jparker/_public_html/shared/system/.htpasswd
  AuthType Basic
  AuthName "Winsome's Private Data"
  Require valid-user
</Files>
