!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title urge&bullet;to&bullet;punt
    %link(rel='stylesheet' href='//d3pr2y95223dyo.cloudfront.net/~jparker/css/screen.css' media='screen,projection')
    %link(rel='stylesheet' href='//d3pr2y95223dyo.cloudfront.net/~jparker/css/print.css' media='print')
    /[if IE]
      %link(rel='stylesheet' href='//d3pr2y95223dyo.cloudfront.net/~jparker/css/ie.css' media='screen,projection')
    %link(rel='stylesheet' href='//d3pr2y95223dyo.cloudfront.net/~jparker/css/home.css' media='screen,projection')
  %body
    .container
      #head.span-24
        %h1
          urge&bullet;
          %span>< to
          &bullet;punt
      #body.span-15.colborder
        .span-5
          %ul
            %li
              %a(href="http://urgetopunt.com/") Work
            %li
              %a(href="http://www.linkedin.com/in/urgetopunt") LinkedIn Profile
            %li
              %a(href="http://github.com/jparker") Github Repo
            %li
              %a(href="http://del.icio.us/urgetopunt/") Bookmarks
            %li
              %a(href="http://www.flickr.com/photos/urgetopunt/") Photos
          %ul
            %li
              %a(href="http://www.sandiegozoo.org/") San Diego Zoo
            %li
              %a(href="http://www.sdruby.com/") San Diego Ruby Brigade
            %li
              %a(href="http://www.sandiegodslr.com/") San Diego dSLR
            %li
              %a(href="http://www.littleitalysd.com/") Little Italy
            %li
              %a(href="http://www.nelsonphotosupplies.com/") Nelson Photo
            %li
              %a(href="http://www.racineandlaramie.com/") Racine &amp; Laramie
            %li
              %a(href="http://www.waterfrontbarandgrill.com/") Waterfront
            %li
              %a(href="http://www.signonsandiego.com/") Union-Tribune
            %li
              %a(href="http://www.sdcommute.com/") San Diego Transit
            %li
              %a(href="http://www.google.com/movies?near=92101") Movie Showtimes
        .span-6
          %ul
            %li
              %a(href="http://www.ruby-lang.org/") Ruby
              |
              %a(href="http://coffeescript.org/") CoffeeScript
              |
              %a(href="http://www.erlang.org/") Erlang
              |
              %a(href="http://www.perl.org/") Perl
            %li
              %a(href="http://www.rubyonrails.com/") Rails
              |
              %a(href="http://www.sinatrarb.com/") Sinatra
              |
              %a(href="http://datamapper.org/") DataMapper
            %li
              %a(href="http://rspec.info/") RSpec
              |
              %a(href="http://cukes.info/") Cucumber
              |
              %a(href="https://github.com/seattlerb/minitest") minitest
            %li
              %a(href="http://haml-lang.com/") HAML
              |
              %a(href="http://sass-lang.com/") SASS
            %li
              %a(href="http://jquery.com/") jQuery
              |
              %a(href="http://underscorejs.org/") Underscore
              |
              %a(href="http://jqueryui.com/") jQuery UI
            %li
              %a(href="http://getbootstrap.com/") Bootstrap
              |
              %a(href="http://blueprintcss.org/") Blueprint
              |
              %a(href="http://www.yahooapis.com/yui/") YUI
            %li
              %a(href="http://httpd.apache.org/") Apache
              |
              %a(href="http://nginx.org/") nginx
              |
              %a(href="http://www.modrails.com/") Passenger
            %li
              %a(href="http://www.postgresql.org") PostgreSQL
              |
              %a(href="http://www.mongodb.org/") mongoDB
              |
              %a(href="http://www.sqlite.org/") SQLite
            %li
              %a(href="http://git-scm.com/") Git
              |
              %a(href="http://mercurial.selenic.com/") Mercurial
              |
              %a(href="http://bazaar.canonical.com/") Bazaar
              |
              %a(href="http://subversion.apache.org/") Subversion
          %ul
            %li
              %a(href="http://railscasts.com/") Railscasts
              |
              %a(href="http://vimcasts.org/") Vimcasts
            %li
              %a(href="http://heroku.com/") Heroku
              |
              %a(href="http://www.linode.com/") Linode
              |
              %a(href="http://www.puppetlabs.com/") Puppet
            %li
              %a(href="http://github.com/") Github
              |
              %a(href="http://bitbucket.org/") BitBucket
            %li
              %a(href="http://rpm.newrelic.com/") New Relic RPM
              |
              %a(href="http://scoutapp.com/") Scout
              |
              %a(href="http://pingdom.com/") Pingdom
            %li
              %a(href="http://airbrakeapp.com/") Airbrake, née Hoptoad
              |
              %a(href="http://www.getexceptional.com/") Exceptional
            %li
              %a(href="http://www.pivotaltracker.com/") Pivotal Tracker
              |
              %a(href="http://aws.amazon.com/") Amazon Web Services
        .span-4.last
          %ul
            %li
              %a(href="http://earthquake.usgs.gov/") Earthquakes
            %li
              %a(href="http://www.sasi.group.shef.ac.uk/worldmapper/index.html") Cartograms
            %li
              %a(href="http://www.skyscraperpage.com/") Skyscrapers
            %li
              %a(href="http://www.imdb.com/") Movies
            %li
              %a(href="http://www.iblist.com/") Books
            %li
              %a(href="http://physicsweb.org/articles/news/") Physics
            %li
              %a(href="http://www.bbc.co.uk/") BBC
            %li
              %a(href="http://www3.nhk.or.jp/nhkworld/index.html") NHK World
            %li
              %a(href="http://www.npr.org/") NPR
            %li
              %a(href="http://slashdot.org/") News for Nerds
            %li
              %a(href="http://babelfish.altavista.com/") Babelfish
            %li
              %a(href="http://www.thetick.ws/") The Tick
            %li
              %a(href="http://xkcd.com/") xkcd
            %li
              %a(href="http://www.calvinandhobbes.com/") Calvin &amp; Hobbes
            %li
              %a(href="http://www.pugdogrescue.com/") Pugs
            %li
              %a(href="http://www.dilbert.com/fast/") Dilbert
      #side.span-8.prepend-top.last
        %form(action="http://www.imdb.com/find" method="get" accept-charset="utf-8")
          %p
            %input(type="text" tabindex="1" name="q" value="" class="span-5")
            %input(type="submit" value="IMDB &#8594;" class="span-3")
        %form(action="http://wikipedia.org/wiki/Special:Search" method="get" accept-charset="utf-8")
          %p
            %input(type="hidden" name="go" value="Go")
            %input(type="text" tabindex="1" name="search" value="" class="span-5")
            %input(type="submit" value="Wikipedia &#8594;" class="span-3")
        %form(action="http://www.google.com/dictionary" method="get" accept-charset="utf-8")
          %p
            %input(type="hidden" name="langpair" value="en|en")
            %input(type="hidden" name="hl" value="en")
            %input(type="hidden" name="aq" value="f")
            %input(type="text" tabindex="1" name="q" value="" class="span-5")
            %input(type="submit" value="Dictionary &#8594;" class="span-3")
        %form(action="http://decoder.americom.com/decoderscript" method="get" accept-charset="utf-8")
          %p
            %input(type="text" tabindex="1" name="Search" value="" maxlength="10" class="span-5")
            %input(type="submit" value="Area Code &#8594;" class="span-3")
        %form(action="http://whois.domaintools.com/go/" method="get" accept-charset="utf-8")
          %p
            %input(type="hidden" name="service" value="whois")
            %input(type="text" tabindex="1" name="q" value="" class="span-5")
            %input(type="submit" value="Whois &#8594;" class="span-3")
        %form(action="http://www.crh.noaa.gov/zipcity.php" method="post" accept-charset="utf-8")
          %p
            %input(type="text" tabindex="1" name="inputstring" value="" class="span-5")
            %input(type="submit" value="Weather &#8594;" class="span-3")
      #foot.span-24
        %p.small
          Copyright &#169; 1994-2014 John Parker
          |
          %a(href="http://validator.w3.org/check?uri=referer") Valid HTML5
          |
          %a(href="http://jigsaw.w3.org/css-validator/check/referer") Valid CSS 2.1
