body {
  font-family: Georgia;
}
h1 {
  color: #999;
  font-size: 138.5%;
  font-weight: bold;
  padding: 1em 0;
}

ul {
  padding: 0.5em 0;
}

dl dt {
  font-weight: bold;
  margin-top: 1em;
}
dl dd {
  margin-bottom: 0.25em;
  margin-left: 2em;
}

a {
  color: #090;
}
a:visited {
  color: #009;
}

h1 a {
  color: #999;
  text-decoration: none;
}
h1 a:hover {
  color: #009;
}

#bd ul li a:hover {
  background-color: #090;
  color: #fff;
  text-decoration: none;
}

#bd {
  border-color: #aaa;
  border-style: solid none;
  border-width: 1px;
  padding: 1em 0;
}

#sd form {
  margin: 1em 0;
}
#sd input {
  margin: 0 0.25em;
}
#sd input[type=text] {
  font-size: 116%;
/*  padding: 0.1em;*/
  width: 12em;
}
#sd input[type=submit] {
  width: 7em;
}

#ft p {
  color: #999;
  font-size: 85%;
  margin-top: 1em;
  padding-top: 1em;
}
#ft p a {
  color: #999;
}
